@use "../Constants" as *;

.top-4-coins-wrapper {
  width: 100%;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  .top-4-coins {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    .coin {
      margin: 0 2em;
      @media (max-width: 540px) {
        margin: 0 1em;
      }
      .coin-link {
        color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;

        img {
          width: calc(2.5em + 2vw);
        }

        .coin-name {
          font-weight: bold;
          margin-top: 0.5em;
        }

        .negative {
          color: rgb(244, 38, 38);
          font-weight: bold;
        }

        .positive {
          color: rgb(39, 176, 39);
          font-weight: bold;
        }
      }
    }
  }
}
