@use "../Constants/" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $mainFont;
  scroll-behavior: smooth;
}

html {
  font-size: 24px;
}

body {
  background: linear-gradient(
    0deg,
    rgba(2, 1, 18, 1) 0%,
    rgba(1, 22, 113, 1) 80%,
    rgba(61, 6, 149, 1) 97%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 100%;
  max-width: 65em;
  margin: 0 auto;
  position: relative;
}

.link {
  color: $white;
  text-decoration: none;
}
