// Hero Component styles 👇
@use "../Constants/" as *;

.intro {
  margin: 3em 0;
  color: $white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em 0.5em;
  flex-wrap: wrap;

  h2 {
    font-size: min(calc(3em + 0.6vw), 6em);
    letter-spacing: 0.3rem;
    line-height: 1.5;

    @media (max-width: 750px) {
      font-size: 2em;
    }
  }

  p {
    font-size: min(calc(3em + 0.6vw), 6em);
    font-weight: 600;
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(25deg, #2600fc, #ff00ea);

    @media (max-width: 750px) {
      font-size: 2em;
    }
  }

  @media (max-width: 750px) {
    margin: 1.5em 0;
  }
}
