@use "../Constants/fontConstant" as *;

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.5em;
  color: rgb(255, 255, 255);
}

.sticky {
  position: fixed;
  background: #000;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.8);
}

.app-title {
  padding: 0.2em 0.3em;
  border: 2px solid white;

  .link {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.09em;
    font-size: calc(0.6em + 1vw);
    font-family: $titleFont;

    @media (max-width: 480px) {
      font-size: 1em;
    }

    @media (min-width: 1440px) {
      font-size: 2em;
    }
  }
}

.nav-links {
  display: flex;
  padding: 0.2rem 0.3rem;

  .home-link,
  .about-link,
  .choose-link,
  .join-link {
    font-size: calc(0.6em + 0.5vw);
    font-weight: 500;

    @media (max-width: 540px) {
      display: none;
    }

    &:active {
      font-weight: 600;
    }
  }

  .home-link,
  .about-link,
  .choose-link {
    margin-right: 0.9em;
  }
}

.connect-section {
  display: flex;
  padding: 0.2rem 0.3rem;

  @media (max-width: 540px) {
    display: none;
  }
}

.twitter-icon {
  margin-right: 0.9em;
}

.twitter-link {
  position: relative;
  display: flex;
  align-items: center;
  &:hover {
    &::after {
      content: "Twitter";
      position: absolute;
      font-size: 0.5em;
      left: 0em;
      top: 1.7em;
      background-color: white;
      color: black;
      padding: 0.2em;
      box-shadow: 0 0 5px 1px #000;
    }
  }
}

.discord-link {
  position: relative;
  display: flex;
  align-items: center;
  &:hover {
    &::after {
      content: "Discord";
      position: absolute;
      font-size: 0.5em;
      right: 0em;
      top: 1.7em;
      background-color: white;
      color: black;
      padding: 0.2em;
      box-shadow: 0 0 5px 1px #000;
    }
  }
}
