@use "../Constants" as *;

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.5em;
  color: $white;
}

.sticky {
  position: fixed;
  top: 0;
  background: $black;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.app-title {
  padding: 0.2em 0.3em;
  border: 2px solid $white;

  .link {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.09em;
    font-size: min(calc(0.6em + 1vw), 2em);
    font-family: $titleFont;

    @media (max-width: 480px) {
      font-size: 1em;
    }
  }
}

.nav-links {
  display: flex;
  padding: 0.2rem 0.3rem;

  .home-link,
  .about-link,
  .choose-link,
  .join-link {
    font-size: min(calc(0.6em + 0.5vw), 1.5em);
    font-weight: 500;

    @media (max-width: 750px) {
      display: none;
    }

    &:active {
      font-weight: 600;
    }
  }

  .home-link,
  .about-link,
  .choose-link {
    margin-right: min(calc(0.6em + 0.4vw), 1em);
  }
}

.connect-section {
  display: flex;
  padding: 0.2rem 0.3rem;

  @media (max-width: 750px) {
    display: none;
  }
}

.twitter-icon {
  margin-right: 0.9em;
}

.twitter-link {
  position: relative;
  display: flex;
  align-items: center;

  &:hover {
    &::after {
      content: "Twitter";
      position: absolute;
      font-size: 0.5em;
      left: 0em;
      top: 1.7em;
      background-color: $white;
      color: $black;
      padding: 0.2em;
      box-shadow: 0 0 5px 1px $black;
    }
  }
}

.discord-link {
  position: relative;
  display: flex;
  align-items: center;

  &:hover {
    &::after {
      content: "Discord";
      position: absolute;
      font-size: 0.5em;
      right: 0em;
      top: 1.7em;
      background-color: $white;
      color: $black;
      padding: 0.2em;
      box-shadow: 0 0 5px 1px $black;
    }
  }
}

.menu-btn {
  display: flex;
  background: transparent;
  border: none;

  .hamburger-icon {
    display: block;
    background: transparent;
    color: $white;
    font-size: 1.6em;
  }

  @media (min-width: 751px) {
    display: none;
  }
}

.close {
  display: none;
}

.menu {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 100%;
  background: $white;
  transition: all 0.5s ease-in-out;
  z-index: 1000;
}

.open {
  right: 0;
}

.btn-close {
  display: flex !important;
  background: transparent;
  border: none;
  position: absolute;
  right: 0.7em;
  top: 0.7em;
  z-index: 99;

  .close-icon {
    font-size: 3em;
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  .about-link,
  .home-link,
  .join-link,
  .choose-link {
    color: $black;
    font-weight: 500;
    margin: 10px 0;
  }
}
